body #header-outer, body[data-header-color="dark"] #header-outer {
    background-color: #f8f8f8;
}

#boxed {
    width: 1200px;
    background-color: #f8f8f8;
    box-shadow: none;
}

#header-space{
    background-color: #f8f8f8;
    box-shadow: none;
}


/*
* RESPONSIVE
*/
@media only screen and (min-width: 1300px) {

}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {

}

@media only screen and (min-width: 1000px) and (max-width: 1080px) {
}

@media only screen and (max-width: 1000px) and (min-width: 690px){

	body #boxed {
	    width: 679px;
	}
}


/* iPad fixes */
@media only screen and (min-device-width: 481px) and (max-device-width: 1025px) {

}

/* iPad landscape fixes */
@media only screen and (min-device-width: 481px) and (max-device-width: 1025px) and (orientation:landscape) {

}